---
const personalImageAlt = 'Raül Garrigós'
import SocialPill from '../components/SocialPill.astro'
import CVIcon from '../components/icons/CV.astro'
---

<article class='w-full flex flex-col items-center justify-center gap-8'>
  <div class='grid grid-cols-1 md:grid-cols-3 gap-6 w-full'>
    <div
      class='col-span-1 md:col-span-2 text-white text-pretty order-2 md:order-1'
    >
      <p>
        ¡Hola, me llamo Raül! Estudié Periodismo y Fotografía Artística y, después de ejercer durante años como <span
        class='text-yellow-200/90'
      > Content y Catalog Specialist en diferentes e-commerces </span>,
        decidí pasarme al mundo de la Programación. 
      </p>
      <br />
    
      <p>
        Mi proyecto final de Bootcamp fue votado por los compañeros para <span
        class='text-yellow-200/90'
      > representar a la rama de Desarollo Web en el Hackshow  </span> que organiza el propio Bootcamp. Me encanta enfocarme en el Frontend y conseguir una navegación fluida y estética.</p>
      <br />
    
      <p>
        Actualmente, estoy puliendo mis habilidades de programación dedicándome
        a proyectos personales mientras busco oportunidades como Developer. <span
          class='text-yellow-200/90'
          >Siempre preparado para el próximo reto.</span
        >
      </p>
    </div>
    <img
      width='200'
      height='200'
      src='raulgarrigos.webp'
      alt={personalImageAlt}
      class='order-1 object-cover w-64 h-full p-2 mx-auto md:order-2 md:w-full lg:p-2 lg:w-64 rotate-3 aspect-square rounded-2xl bg-black/30 ring-1 ring-yellow-200/80'
      style='object-position: 50% 50%'
    />
  </div>
  <div class=''>
    <SocialPill
      href='https://drive.google.com/file/d/1bq5-sfvB16nWxvCiRTO2jtfuMvYpI7Cj/view'
    >
      <CVIcon class='size-4 md:size-6' />
      Currículum
    </SocialPill>
  </div>
</article>
