---
const navItems = [
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Experiencia",
    label: "experiencia",
    url: "/#experiencia",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:raul.garrigos91@gmail.com",
  },
];
---

<header
  class="fixed top-0 z-10 bg-[#44229D] flex items-center justify-center w-full mx-auto p-2"
>
  <nav
    class="flex px-3 text-lg font-medium rounded-full text-white-600 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-[#FFD700]"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
