---
const { href } = Astro.props;
---

<a
  href={href}
  role="link"
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center justify-center gap-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-xs text-white transition font-size bg-gray-700 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-600 hover:border-yellow-200 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
